$backgroundColor: linear-gradient(
  to bottom right,
  rgb(247, 145, 10),
  rgb(99, 25, 152)
);

.resultCont {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
  margin-top: 150px;
  gap: 10px;

}

.counter {
  border: 1px solid white;
  width: 160px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  background: $backgroundColor;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  gap: 5px;
  width: 500px;
  .name {
  }
  .url {
    width: 300px;
    text-align: center;
  }
}
b{
  font-size: larger;
  color: rgb(255, 191, 0);
}
.active {
  width: 40px;
  &:hover{

    transform: rotate(1800deg);
    transition: 6s;
  }
}
