$backgroundColor: #efefef;
$radius: 40%;

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-30px);
  }
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 1000px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 42px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  .urlLabel {
    margin-right: 30px;
  }

  .bounce {
    animation-name: bounce;
  }

  .bounce {
    border: none;
    margin-left: 5px;
    color: white;
    background: rgb(140, 40, 79);
    border-radius: 5px;
    &:hover {
      background-color: rgba($color: #082f7df0, $alpha: 0.5);
      transform: scale(1.2) rotate(360deg);
    }
    transition: 0.5s ease-in;
  }

  label {
    display: flex;
    margin: 1rem 0;

    input {
      border: none;
      width: 400px;
      height: 30px;
      border-radius: 5px;
    }
  }
  .methods {
    display: flex;
    margin: 1rem 0;

    .restButton {
      cursor: pointer;
      margin-right: 1rem;
      padding: 0.25rem 0.5rem;
      border: none;
      border-radius: 5px;
      font-family: cursive;
    }
  }
}

.textArea{
  margin: 1rem 0;
  width: 300px;
  height: 130px;
}

.bodyCont{
  display: flex;
  align-items: center;
  gap: 10px;
}

#get {
  background: rgba(0, 0, 255, 0.6);
  color: white;
  &:hover,
  &:focus {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  transition: 0.3s ease-in-out;
}
#post {
  background: rgba(0, 255, 0, 0.5);
  color: white;
  &:hover,
  &:focus {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  transition: 0.3s ease-in-out;
}
#put {
  background: rgba(255, 255, 0, 0.5);
  color: white;
  &:hover,
  &:focus {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  transition: 0.3s ease-in-out;
}
#delete {
  background: rgba(255, 0, 0, 0.5);
  color: white;
  &:hover,
  &:focus {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  transition: 0.3s ease-in-out;
}
